html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.dropdown-box {
  background-color: rgb(123, 188, 240);
  padding: 10px;
  min-height: 450px; /* Adjust as needed to match dropdown size */
  min-width: 350px;
  border-radius: 10px;
  border: 3px solid #ccc;
}

.dropdown-title {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.25em;
}

.autocomplete {
  position: relative;
  width: 350;
  font-family: Arial, sans-serif;
  border-radius: 4px;
  box-sizing: border-box;
}
