<div class="dropdown-box">
  <div class="autocomplete" #searchContainer>
    <p>Transaction Type:</p>
    <input
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Enter transaction type..."
      autocomplete="off"
      class="autocomplete-input"
      (focus)="openDropdown()"
      (input)="openDropdown()"
    />

    @if (isOpen() && filteredTransactions.length > 0) {
      <div class="autocomplete-list">
        @for (type of filteredTransactions; track type) {
          <div class="autocomplete-item" (click)="selectTransaction(type)">
            {{ type }}
          </div>
        }
      </div>
    } @else if (isOpen() && filteredTransactions.length === 0) {
      <div class="autocomplete-list">
        <div class="autocomplete-item disabled">No results found.</div>
      </div>
    }
  </div>
</div>
